  <thead>
    <tr>
      <th class="span1">#</th>
      <th class="js-task-counter">{{todoCount}} {{inflection}}</th>
      <th class="span1"></th>
    </tr>
  </thead>
  <tbody>
    {{#each filteredTodos itemController='todo'}}
    <tr class="task">
      <td>{{_view.contentIndex}}</td>
      <td>
        {{name}}
        <span class="priority label">{{priority}}</span>
      </td>
      <td>
        <button {{action "removeTodo"}} class="btn btn-success js-done">Done</button>
      </td>
    </tr>
    {{/each}}
  </tbody>
